{% extends "./padre.html" %}

{% load static %}

{% block titulo %}

    Aca podes buscar el para ver su informacion

{% endblock %}

{% block form %}

    <form action="{% url 'resultado_busqueda_seller' %}" method="GET">

        <table>
            <tr>
                <td><label for="nickname">Nickname</label></td>
                <td><input type="text" name="nickname" id="nickname"></td>
                <td><input type="submit" value="Buscar"></td>
            </tr>
        </table>

    </form>

{% endblock %}

