{% extends "./padre.html" %}

{% load static %}

{% block titulo %}

    Busqueda completa

{% endblock %}

{% block resultado_busqueda %}
<style>

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
}

</style>
<table>

    <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Fecha Nacimiento</th>
        <th>Mail</th>
        <th>Direccion</th>
        <th>Numero</th>
        <th>Contacto Emerg</th>
        <th>Vinculo</th>
        <th>Numero</th>
        <th>Sector</th>
    </tr>
    {% for persona in personal %}
    <tr>
        <td>{{persona.nombre}} {{persona.apellido}}</td>
        <td>{{persona.dni}}</td>
        <td>{{persona.fecha_nacimiento}}</td>
        <td>{{persona.mail}}</td>
        <td>{{persona.direccion}}, {{persona.localidad}}, {{persona.cp}}</td>
        <td>{{persona.numero_contacto}}</td>
        <td>{{persona.nombre_emergencia}} {{persona.apellido_emergencia}}</td>
        <td>{{persona.vinculo}}</td>
        <td>{{persona.numero_contacto_emergencia}}</td>
        <td>{{persona.sector}}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}