<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon-32x32.png" type="image/x-icon">
    <link rel="icon" href="./img/favicon-32x32.png" type="image/x-icon">
    <title>Registrar nuevo usuario</title>
</head>
<body>
    <header>
        <h1>Bienvenido {user}, que desea hacer?</h1>
    </header>
    <main>
        <section>
            <a href="./agregar_empleado.html">Agregar Empleado</a><br>
            <a href="#">Buscar Empleado</a>
        </section>
    </main>
    <footer>
        <h3>By <a href="#">thyrum</a> 2022</h3>
    </footer>

</body>
</html>